RewriteEngine ON
RewriteBase /
RewriteCond %{HTTP_HOST} ^yourhostname.example.net$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/word.css$ /bugcatcher.php?type=word&id=$1 [L]
RewriteRule ^(.*)/excel.css$ /bugcatcher.php?type=excel&id=$1 [L]
